.accordion details {
  border-bottom: .08em solid var(--dark-color);
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
  margin-top: 1rem;
}

.accordion details summary {
  position: relative;
  padding: 0 1rem;
  padding-right: 3rem;
  cursor: pointer;
  list-style: none;
  overflow: hidden;
  transition: background-color 0.2s;
  margin-bottom: 1rem;
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 1.125rem;
  transform: scaleY(1) rotate(135deg);
  width: 2em;
  height: 2em;
  border: 2px solid;
  border-width: .3em .3em 0 0;
}

.accordion details[open] summary::after {
  transform: scaleY(-1) rotate(135deg);
  top: 50%;
  border-color: var(--primary-color);
}

.accordion details summary p {
  font-weight: 700;
}

.accordion details .accordion-item-body {
  padding: 0 1rem;
  margin-top: -1rem;
}

.accordion details[open] .accordion-item-body {
  background-color: var(--background-color);
}

.accordion details .accordion-item-body ul {
  margin-bottom: 2rem;
}
