/* hero */
.theme-corn-flakes .hero-homepage h1 {
  margin: 0 0 .5rem;
  font-size: 3.5rem;
  line-height: 1;
}

.theme-corn-flakes .hero .hero-background picture {
  background: transparent radial-gradient(closest-side at 50% 50%, #EFEFEF 60%, #DDD 130%) 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: flex-start;
  padding-left: 12rem;
}

.theme-corn-flakes .hero .hero-background img {
  object-fit: contain;
  object-position: center;
  width: 350px;
}

.theme-corn-flakes .hero-homepage p {
  font-size: 1.25rem;
}

.theme-corn-flakes .hero-homepage .hero-foreground {
  inset: auto 6rem 0 auto;
  display: flex;
  flex-direction: column;
  transform: none;
}

.theme-corn-flakes .hero-homepage .hero-foreground-item-2 {
  order: 3;
  display: block;
  margin-top: 3rem;
}

.theme-corn-flakes .hero-homepage .hero-foreground .hero-foreground-item-2 picture,
.theme-corn-flakes .hero-homepage .hero-foreground .hero-foreground-item-2 img {
  height: 315px;
  display: block;
}

.theme-corn-flakes .hero-homepage .hero-foreground-item-6 {
  margin-top: 1rem;
}

.theme-corn-flakes .hero-homepage a.button {
  margin-top: 2rem;
  line-height: inherit;
  font-size: 1rem;
  padding: .75rem 1.875rem;
}

@media (width >= 1024px) {
  .theme-corn-flakes .hero-homepage {
    min-height: 40rem;
  }

  .theme-corn-flakes .hero-homepage .hero-foreground {
    max-width: 42rem;
  }
}