/* hero */
.theme-froot-loops .hero-homepage h1 {
  color: var(--white);
  text-shadow: 0 0 0.1em rgba(0 0 0 / 50%), 0 0 1em rgba(75 45 37 / 50%);
  margin: .5rem 0;
  font-size: 3rem;
}

.theme-froot-loops .hero-homepage p {
  color: var(--white);
}

.theme-froot-loops .hero .hero-background picture {
  background: radial-gradient(ellipse farthest-corner at 50% -30%, #DC0031 0%, #DC0031 60%, #690517 120%);
  display: flex;
  justify-content: flex-start;
  padding: 5rem 3rem 0;
}

.theme-froot-loops .hero .hero-background img {
  object-fit: contain;
  object-position: top;
  width: 450px;
  margin: auto;
}

.theme-froot-loops .hero-homepage .hero-foreground {
  transform: none;
  inset: auto auto 5rem auto;
}

.hero-homepage .hero-foreground .hero-foreground-item-2 img {
  height: 240px;
  object-fit: contain;
}

.theme-froot-loops .hero-homepage a.button {
  margin-top: 1rem;
  padding: .85rem 1.875rem .65rem;
  line-height: inherit;
  font-size: inherit;
}

@media (width >= 1024px) {
  .theme-froot-loops .hero-homepage {
    min-height: 40rem;
  }

  .theme-froot-loops .hero-homepage .hero-foreground {
    max-width: 30rem;
  }

  .theme-froot-loops .hero .hero-background picture {
    padding: 0 0 0 10rem;
  }

  .theme-froot-loops .hero .hero-background img {
    object-position: center;
    margin: 0;
  }

  .theme-froot-loops .hero-homepage .hero-foreground {
    inset: auto 12rem 5rem auto;
  }
}