/* hero */
.theme-rice-krispies .hero-homepage h1 {
  color: var(--white);
  text-shadow: 0.08em 0.08em 0 #0b4f88;
  margin: 0 0 .5rem;
  font-size: 4rem;
  line-height: 1;
}

.theme-rice-krispies .hero .hero-background picture {
  background: transparent radial-gradient(closest-side at 50% 50%, #3896d9 60%, #1e4f8a 130%) 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: flex-start;
  padding-left: 12rem;
}

.theme-rice-krispies .hero .hero-background img {
  object-fit: contain;
  object-position: center;
  width: 350px;
}

.theme-rice-krispies .hero-homepage p {
  color: var(--white);
  font-size: 1.25rem;
}

.theme-rice-krispies .hero-homepage .hero-foreground {
  transform: none;
  inset: auto 10rem 4.5rem auto;
  display: flex;
  flex-direction: column;
}

.theme-rice-krispies .hero-homepage .hero-foreground-item-2 {
  display: block;
}

.theme-rice-krispies .hero-homepage .hero-foreground-item-2 img {
  height: 270px;
}

.theme-rice-krispies .hero-homepage .hero-foreground-item-6 {
  margin-top: 1rem;
}

.theme-rice-krispies .hero-homepage a.button {
  margin-top: 2rem;
  padding: .75rem 2rem;
  line-height: inherit;
  font-size: inherit;
}

@media (width >= 1024px) {
  .theme-rice-krispies .hero-homepage {
    min-height: 40rem;
  }

  .theme-rice-krispies .hero-homepage .hero-foreground {
    max-width: 36rem;
  }

  .theme-rice-krispies .hero-homepage .hero-foreground-item-3 {
    display: block;
    max-width: 25rem;
  }
}