@import url('theme/raisin-bran.css');
@import url('theme/apple-jacks.css');
@import url('theme/corn-flakes.css');
@import url('theme/froot-loops.css');
@import url('theme/honey-smacks.css');
@import url('theme/rice-krispies.css');

main .hero-container > div {
  max-width: 1440px;
}
  
main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 400px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* wkkellogg.com */
.hero-homepage {
  min-height: 49.375rem;
}

.hero-homepage p {
  margin: 0;
}

.hero-homepage .hero-foreground {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  bottom: 10.625rem;
}

.hero-homepage .hero-foreground picture {
  position: relative;
}

.hero-homepage .hero-foreground .hero-foreground-item-2 {
  display: none;
}

.hero-homepage .hero-foreground .hero-foreground-item-3 {
  max-width: 18.75rem;
  margin: 0 auto;
}

.hero-homepage a.button {
  padding: 0.375rem 1rem;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: -0.0002rem;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  border-radius: 3.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
  margin: 2.5rem 0 0;
}

.hero-homepage a.button .icon {
  height: 1.25rem;
  width: 1.25rem;
}

.hero-homepage a.button .icon img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(22%) hue-rotate(10deg) brightness(105%) contrast(105%);
}

@media (width >= 1024px) {
  .hero-homepage {
    padding: 2rem;
    min-height: 54.3125rem;
  }

  .hero-homepage .hero-foreground {
    max-width: 44.75rem;
  }

  .hero-homepage .hero-foreground .hero-foreground-item-2 {
    display: block;
  }
  
  .hero-homepage .hero-foreground .hero-foreground-item-3 {
    display: none;
  }

  .hero-homepage a.button {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .hero-homepage a.button .icon {
    height: 1.875rem;
    width: 1.875rem;
  }
}

.theme-frosted-flakes .hero .hero-background picture {
  background: radial-gradient(circle farthest-corner at 50% 50%, #00539E, #003866);
  display: flex;
  justify-content: flex-start;
  padding-left: 12rem;
}

.theme-frosted-flakes .hero .hero-background img {
  object-fit: contain;
  object-position: center;
  width: 400px;
}

@media (width >= 1024px) {
  .theme-frosted-flakes .hero-homepage {
    min-height: 40rem;
  }

  .theme-frosted-flakes .hero-homepage .hero-foreground {
    max-width: 42rem;
  }
}