footer {
  padding: 3.75rem 1.25rem 1.875rem;
}

footer .footer {
  max-width: 1264px;
  margin: auto;
}

.footer .section {
  display: grid;
  gap: 1.5rem 0; 
  grid-template: 
    "nav" auto
    "brand" auto
    "connect" auto
    "links" auto;
}

.footer .section > div:nth-child(1) {
  grid-area: brand;
  width: 100%;
  text-align: center;
}

.footer .section > div:nth-child(2) {
  grid-area: connect;
  width: 100%;
  height: 100%;
}

.footer .section > div:nth-child(3) {
  grid-area: nav;
  width: 100%;
}

.footer .section > div:nth-child(4) {
  grid-area: links;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.625rem;
  color: var(--dark-grey);
}

footer .default-content-wrapper img {
  max-width: 220px;
  height: auto;
}

footer .default-content-wrapper:first-child p {
  margin: 0;
}

footer .columns > div {
  align-items: flex-start;
}

footer .columns > div > div:not(.language-dropdown) {
  width: 100%;
}

.footer h6 {
  margin: 0 0 1.5rem;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .columns {
  position: relative;
}

footer .columns.columns-5-cols {
  padding: 0 2.1875rem 1.6875rem 1.875rem;
  margin-bottom: 1.5rem;
}

footer .columns.columns-5-cols::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100vw;
  left: -1.25rem;
  height: 1px;
  background-color: var(--light-grey);
}

footer .columns p.button-container {
  margin: 0;
  padding: .5rem 0;
}

footer .columns ul li li {
  padding-bottom: .375rem;
  line-height: 1.5625rem;
}

footer .columns ul li a,
footer .columns ul li a.button {
  display: flex;
  justify-content: space-between;
}

footer .columns ul ul {
  max-height: 0;
  overflow: hidden;
  transition: .35s ease;
  display: none;
}

footer .columns ul li.active ul {
  max-height: 50rem;
  display: block;
}

.footer .section > div:nth-child(2) .columns > div {
  align-items: center;
}

.footer .section > div:nth-child(2) .columns > div > div:not(.language-dropdown) {
  width: auto;
}

.footer .section > div:nth-child(2) ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.footer .section > div:nth-child(2) ul li {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.footer .section > div:nth-child(2) .language-dropdown ul {
  gap: 0;
}

.footer .section > div:nth-child(2) .language-dropdown ul li {
  width: 100%;
}

.footer .section > div:nth-child(2) ul li a {
  display: block;
}

.footer .section > div:nth-child(2) .icon {
  height: 28px;
  width: 28px;
}

.footer .section > div:nth-child(2) a img {
  filter: brightness(0) saturate(100%) invert(15%) sepia(74%) saturate(4914%) hue-rotate(334deg) brightness(84%) contrast(95%);
  transition: 200ms;
}

.footer .section > div:nth-child(2) a:hover img {
  filter: brightness(0) saturate(100%) invert(15%) sepia(37%) saturate(7234%) hue-rotate(331deg) brightness(84%) contrast(101%);
}

.footer .section > div:nth-child(2) .button-container {
  padding: 2rem 0 0;
}

.footer .section > div:nth-child(2) .button {
  height: 48px;
  width: 164px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.0009rem;
  border-radius: 1.25rem;
  background-color: #f4f4f4;
  position: relative;
  justify-content: space-between;
}

.footer .section > div:nth-child(2) .button:hover,
.footer .section > div:nth-child(2) .button:focus {
  color: var(--black);
  box-shadow: 0 4px 10px 0 rgba(0 0 0 / 15%);
}

.footer .section > div:nth-child(2) .button .icon {
  position: absolute;
  height: .9375rem;
  width: .9375rem;
  right: .9375rem;
  transition: .15s;
  transform: rotate(0);
}

.footer .section > div:nth-child(2) .active .icon {
  transform: rotate(180deg);
}

.footer .section > div:nth-child(2) .button img {
  filter: none;
  display: block;
}

.footer .section > div:nth-child(2) .button:hover img,
.footer .section > div:nth-child(2) .button:focus img {
  filter: none;
}

footer .section > div:nth-child(3) .button-container .icon-forward {
  display: none;
}

.footer .section > div:nth-child(4) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer .section > div:nth-child(4) ul:nth-child(2) {
  flex-direction: column;
}

.footer .section > div:nth-child(4) ul:nth-child(2) li::before {
  display: none;
}

.footer .section > div:nth-child(4) ul li {
  position: relative;
  padding: 0 .75rem;
}

.footer .section > div:nth-child(4) ul li::before {
  content: "|";
  position: absolute;
  left: 0;
  font-weight: 300;
}

.footer .section > div:nth-child(4) ul li:first-child::before {
  display: none;
}

.footer .section > div:nth-child(4) a {
  color: var(--dark-grey);
}

.footer .section > div:nth-child(4) a:hover {
  color: var(--primary-hover);
}

@media (width >= 1024px) {
  footer {
    padding: 5.5rem 1.25rem 1.875rem;
  }

  .footer .section {
    gap: 2rem 0; 
    grid-template: 
      "brand brand" auto
      "connect nav" auto
      "links links" auto
      / 25% 75%; 
  }

  .footer .section > div:nth-child(1) {
    text-align: left;
  }

  .footer .section > div:nth-child(2) .columns > div {
    align-items: flex-start;
  }

  .footer .section > div:nth-child(3) .button-container .icon-forward {
    display: flex;
  }

  .footer .section > div:nth-child(3) .button-container .icon-chevron {
    display: none;
  }

  .footer .section > div:nth-child(4) ul:nth-child(2) {
    flex-direction: row;
  }
  
  .footer .section > div:nth-child(4) ul:nth-child(2) li::before {
    display: block;
  }

  footer .columns.columns-5-cols {
    padding: 0;
    margin-bottom: 0;
  }
  
  footer .columns.columns-5-cols::after {
    display: none;;
  }

  .footer .columns p.button-container + p.button-container {
    padding-top: 1rem;
  }

  footer .columns p.button-container {
    padding: 0 0 .5rem;
  }

  footer .columns ul li a,
  footer .columns ul li a.button {
    justify-content: flex-start;
  }

  footer .columns ul ul {
    max-height: 50rem;
    display: block;
  }
}