footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "brand brand"
    "connect nav"
    "links links"; 
}
.brand { grid-area: brand; }
.connect { grid-area: connect; }
.nav { grid-area: nav; }
.links { grid-area: links; }