@font-face {
  font-family: 'WK Kellogg Script';
  src: url('../fonts/WKKelloggScript/WK_Kellogg_Script_Regular.woff2') format('woff2'), url('../fonts/WKKelloggScript/WK_Kellogg_Script_Regular.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-Bold.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-BlackItalic.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-Black.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-Thin.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-LightItalic.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-SemiBold.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-Italic.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-Medium.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-ExtraLightItalic.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-ThinItalic.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-ExtraLight.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-BoldItalic.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-MediumItalic.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-SemiBoldItalic.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-ExtraBold.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-Light.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-Regular.woff2') format('woff2'), url('../fonts/WorkSans/WorkSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
	font-family: FrootLoops;
	src: url('../fonts/FrootLoops/FrootLoops.woff2') format('woff2'), url('../fonts/FrootLoops/FrootLoops.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: FrootLoops;
	src: url('../fonts/FrootLoops/FrootLoops.woff2') format('woff2'), url('../fonts/FrootLoops/FrootLoops.woff') format('woff');
	font-weight: bold;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: Metropolis;
	src: url('../fonts/Metropolis/Metropolis-Regular.woff2') format('woff2'), url('../fonts/Metropolis/Metropolis-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: Metropolis;
	src: url('../fonts/Metropolis/Metropolis-RegularItalic.woff2') format('woff2'), url('../fonts/Metropolis/Metropolis-RegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
  font-display: swap;
}

@font-face {
	font-family: Metropolis;
	src: url('../fonts/Metropolis/Metropolis-ExtraBold.woff2') format('woff2'), url('../fonts/Metropolis/Metropolis-ExtraBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: Metropolis;
	src: url('../fonts/Metropolis/Metropolis-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/Metropolis/Metropolis-ExtraBoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('../fonts/SourceSans3/SourceSans3-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('../fonts/SourceSans3/SourceSans3-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('../fonts/SourceSans3/SourceSans3-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('../fonts/SourceSans3/SourceSans3-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: KelloggSans;
  src: url("../fonts/KelloggSans/KelloggsSans-Regular.otf") format('opentype'), url("../fonts/KelloggSans/KelloggsSans-Regular.woff") format('woff'), url("../fonts/KelloggSans/KelloggsSans-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: KelloggSans;
  src: url("../fonts/KelloggSans/KelloggsSans-Bold.otf") format('opentype'), url("../fonts/KelloggSans/KelloggsSans-Bold.woff") format('woff'), url("../fonts/KelloggSans/KelloggsSans-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: LeOsler;
	src: url('../fonts/LeOsler/subset-LeOsler-RoughRegular.woff') format('woff'), url('../fonts/LeOsler/subset-LeOsler-RoughRegular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/MissionGothic/MissionGothic-Thin.woff2') format('woff2'), url('../fonts/MissionGothic/MissionGothic-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/MissionGothic/MissionGothic-ThinItalic.woff2') format('woff2'), url('../fonts/MissionGothic/MissionGothic-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/MissionGothic/MissionGothic-Light.woff2') format('woff2'), url('../fonts/MissionGothic/MissionGothic-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/MissionGothic/MissionGothic-LightItalic.woff2') format('woff2'),	url('../fonts/MissionGothic/MissionGothic-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/MissionGothic/MissionGothic-Regular.woff2') format('woff2'), url('../fonts/MissionGothic/MissionGothic-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/MissionGothic/MissionGothic-RegularItalic.woff2') format('woff2'),	url('../fonts/MissionGothic/MissionGothic-RegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/MissionGothic/MissionGothic-Bold.woff2') format('woff2'), url('../fonts/MissionGothic/MissionGothic-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/MissionGothic/MissionGothic-BoldItalic.woff2') format('woff2'), url('../fonts/MissionGothic/MissionGothic-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/MissionGothic/MissionGothic-Black.woff2') format('woff2'), url('../fonts/MissionGothic/MissionGothic-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mission Gothic';
	src: url('../fonts/MissionGothic/MissionGothic-BlackItalic.woff2') format('woff2'), url('../fonts/MissionGothic/MissionGothic-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}